<div class="forecast-search-result-field">
  Average Temperature: <%= day.temp %>
</div>

<div class="forecast-search-result-field">
  Low Temperature: <%= day.low_temp %>
</div>

<div class="forecast-search-result-field">
  High Temperature: <%= day.high_temp %>
</div>

<div class="forecast-search-result-field">
  Description: <%= day.description %>
</div>
